*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full{ width: 100%; }
.container-main{ width: 1200px;}
.w-30{width: 30%;}
.w-50{width: 48.8% !important;}
.w-70{width: 70%;}
.w-98{width: 98%;}
.d-center{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m-only{ display: none;}

header{
    height: 5rem;
    justify-content: center;
    box-shadow: 0px 4px 16px 0px rgba(103, 105, 189, 0.10);
}

header .logo{ width: 3rem; }

#products-container .call-area{
    margin: 6.625rem 0;
    text-align: center;
}

#products-container .call-area h1{ 
    font-size: 4rem;
    color: #22234C;
}

#products-container .call-area h2{
    font-size: 2.5rem;
    color: #6769bd;
    font-weight: 500;
    margin: .5rem 0;
}

#products-container .call-area span{ color: rgba(41, 39, 40, .6); }

#products-container .products{
    display: flex;
    justify-content: center;
    gap: 1.75rem;
    margin-bottom: 6rem;
}

#products-container .products .product-item{
    border-radius: 1rem;
    padding: 2rem;
    background: #fff;
    color: #6769bd;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#products-container .products .product-item h3{
    width: 56%;
    font-size: 1.75rem;
}

#products-container .products .product-item img{
    width: 90%;
    margin: 1rem 0;
}

#products-container .products .product-item div p{ font-size: 1.1rem; }

#products-container .products .product-item div span{
    text-decoration: line-through;
    font-size: 1.3rem;
}

#products-container .products .product-item h4{
    font-size: 3.5rem;
    margin: 1.5rem 0;
    font-weight: 600;
}

#products-container .products .product-item h4 span{
    font-size: 1.25rem;
    font-weight: 400;
}

#products-container .products .product-item hr{
    width: 100%;
    margin: 1rem 0;
    border: solid 0.02rem #6769bd;
}

#products-container .products .product-item div p.list-benefits{
    font-size: 1.125rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: .7rem;
}

#products-container .products .product-item div p.list-benefits img{
    margin: 0;
    width: 1.2rem;
}

#products-container .products .product-item button{
    background: #6769bd;
    width: 100%;
    border-radius: 2rem;
    padding: .5rem;
    font-size: 1.125rem;
    color: #fff;
    margin: 2rem 0 1.375rem 0 ;
    border: solid 1px #6769bd;
}

#products-container .products .product-item div p#saved-message{ 
    color: #000; 
    font-size: 1.25rem;
}

#products-container .products .product-item.best-choose{
    color: #fff !important;
    background-color: #6769bd;
}

#products-container .products .product-item.best-choose button{
    background-color: #fff;
    color: #6769bd;
    border: solid 1px #6769bd;
}

#products-container .products .product-item.best-choose p#saved-message{
    color: #fff !important;
}

#products-container .products .product-item.best-choose hr{
    border: solid 0.044rem #fff;
}

#products-container .products .product-item button.outline{
    border: solid 1px #6769bd;
    background-color: #fff;
    color: #6769bd;
}

.testemonials{ text-align: center;}

.testemonials h2{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 4rem;
    color: #6769bd;
    margin-bottom: .5rem;
}

.testemonials span{
    color: rgba(41, 39, 40, .6);
}

.testemonials .owl-carousel{
    margin-top: 4rem;
    text-align: left;
}

.testemonials .owl-carousel .owl-item .item{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem;
}

.testemonials .owl-carousel .owl-item .item h4{
    color: #6769bd;
    font-size: 1.4rem;
    height: 4rem
}

.testemonials .owl-carousel .owl-item .item span.checked{
    color: #ffb62b;
    margin-bottom: 2.5rem;
}

.testemonials .owl-carousel .owl-item .item q{
    color: #22234c;
    height: 120px;
    display: block
}

.testemonials .owl-carousel .owl-item .item .testemonial-profile{
    display: flex;
    margin-top: 2rem;
    width: 100%;
    gap: 1rem;
}

.testemonials .owl-carousel .owl-item .item .testemonial-profile img{
    width: 20%;
}

.testemonials .owl-carousel .owl-item .item .testemonial-profile div{
    justify-content: center;
    align-items: flex-start;
}

button#order{
    background: #6769bd;
    width: 19rem;
    border-radius: 2rem;
    padding: .5rem;
    font-size: 1.125rem;
    color: #fff;
    margin: 8rem 0 6rem 0 ;
    border: solid 1px #6769bd;
}

footer{
    background-image:
    linear-gradient(to bottom, #6768bdcf, #6768bdcf),
    url('../imgs/bg-footer.png');
    height: 21rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    justify-content: center;
    color: #fff;
}

footer.logo{
    width: 54.7px;
}

footer hr{
    width: 100%;
    margin: 1rem 0;
}

footer nav ul{
    list-style: none;
    display: flex;
    margin: 1rem 0 2rem 0;
}

footer nav ul li{
    font-size: 1rem;
    font-weight: 300;
    padding: 0 2rem ;
}

footer nav ul li:nth-child(n){
    border-left: solid 1px #fff;
}

footer nav ul li:first-child{
    border-left: none;
}

footer ul{
    list-style: none;
    display: flex;
    font-size: 14px;
    gap: 2.5rem;
    margin-bottom: 1.7rem;
}

footer ul li i{ margin-right: .4rem;}

footer .copy{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 0 0 0 ;
    font-size: 14px;
    font-weight: 300;
}

footer .copy ul{ margin: 0;}

/* shopping page */

.shopping{
    gap: 2rem;
    align-items: flex-start;
}

.shopping .page-title{
    padding: 3rem 0 2.5rem 0;
}

.shopping h1{
    color:#22234C;
    font-size: 3rem;
    font-weight: 700;
    line-height: 66px;
}

.container-main-shopping{
    flex-direction: row;
    align-items: flex-start;
    gap: 1.2rem
}

.form-contact-area, .form-payment-area, .sidebar-container{
    box-shadow: rgba(103, 105, 189, 0.3) 0px 2px 16px 2px;
    border-radius: 2rem;
    padding: 2rem;
}

.form-payment-area{
    margin-top: 1rem;
}

.form-contact-area .form-group, .group-sub{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-contact-area h3,
.form-payment-area h3{
    padding: 0 0 1rem 0;
    margin: 0;
    color: #22234C;
    font-size: 20px;
    font-weight: 500;
}

.form-contact-area h3:nth-child(1){
    border-bottom: solid 1px #22234c21;
    margin-bottom: 1rem;
}

.form-contact-area .form-group .w-50,
.form-payment-area .form-group .w-50,
.form-contact-area .form-group .w-98, 
.form-payment-area .form-group .w-98,
.form-contact-area .form-group .full,
.form-payment-area .form-group .full{
    padding: .15rem 0;
}

.form-contact-area .form-group:nth-child(2){
    border-bottom: solid 1px #22234c21;
    padding: 0 0 1rem 0;
}

.form-payment-area .form-group{
    border-top: solid 1px #22234c21 !important;
    padding-top: 1rem;
    margin-top: 1rem;
}

.form-contact-area .form-group label,
.form-payment-area .form-group label{
    margin-bottom: .5rem;
    font-weight: 500;
}

.form-payment-area .cvv{ padding: 0.8rem 0;}

#inputCardData{
    padding: 0.375rem 0.75rem;
}

.form-contact-area h3:nth-child(3){
    padding: 1rem 0;
}

.group-sub{width: 100%;}

.sidebar-container h3{
    color: #22234C;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.sidebar-container .itens-cart{
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.sidebar-container .itens-cart img{
    width: 20%;
}

.sidebar-container .shipping, .sidebar-container .total{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 0 0 0;
}

.sidebar-container .shipping p, .sidebar-container .total p{
    margin: 0;
}

.sidebar-container .shipping p.price, 
.sidebar-container .total p.price, 
.sidebar-container .itens-cart p.price,
.sidebar-container .total{
    font-weight: 800;
}

.sidebar-container .shipping, .itens-cart{ border-top: solid 1px #22234c5c !important; }

.form-payment-area button#order{
    margin: 2rem 0;
}

.form-payment-area .finish-order{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* CAROUSEL */
.owl-prev, .owl-next{
    position: absolute;
    top: 40%;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.owl-carousel .owl-nav button.owl-prev{ left: -15px; }
.owl-carousel .owl-nav button.owl-next{ right: -15px; }

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span{
    font-size: 2rem;
    color: #22234c;
}   

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
    color: #22234c;
    border: solid 2px #22234c;
    border-radius: 100%;
    background: #fff;
}

@media (max-width: 500px){
    .w-30, .w-50, .w-70, .w-98,
    .container-main, .full{width: 100vw !important;}

    header .container-main{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main{ padding: 1rem;}

    #products-container .call-area h1 { font-size: 2.2rem; }
    #products-container .call-area h2 { font-size: 1.4rem; }
    #products-container .call-area { margin: 3.625rem 0; }

    #products-container .products { flex-direction: column; }

    #products-container .products .product-item.best-choose{ position: relative;}
    #products-container .products .product-item.best-choose .m-only{
        position: absolute;
        top: 0;
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #products-container .products .product-item.best-choose .m-only img{
        width: 35%;
        margin: -5px 0 1rem 0;
    }

    #products-container .products .product-item.best-choose .m-only span{ 
        text-decoration: auto;
        background: #fff;
        border-radius: 4rem;
        color: #6769bd;
        font-size: 14px;
        padding: 0.5rem 2rem;
        font-weight: 500;
    }
    #products-container .products .product-item.best-choose { order: -1;}
    #products-container .products { 
        padding: 2rem 1rem;
        margin: 1rem;
    }

    #products-container .products .product-item div p.full{
        width: -webkit-fill-available !important;
    }

    .testemonials .owl-carousel .owl-item .item{
        margin: 2rem;
    }

    .owl-carousel .owl-nav button.owl-next{ right: 0;}
    .owl-carousel .owl-nav button.owl-prev{ left: 0;}
     

    .container-main-shopping{ flex-direction: column-reverse; }

    .shopping .page-title{ 
        padding: 2rem 0 1rem 0;
        margin: 0 1rem;
    }
    .shopping h1{ font-size: 2rem; }

    .form-contact-area, .form-payment-area, .sidebar-container{
        box-shadow: (103, 105, 189, 0.3) 0px 2px 16px 2px;
        padding: 2rem 1rem;
        margin: 1rem;
    }

    .sidebar-container .itens-cart img { width: 16%; }
    footer{  height: auto; }
    footer .container-main{ padding: 2rem 1rem; }
    footer nav ul{  margin: 1.5rem 0 1rem 0; }

    footer ul{ 
        gap: 0.5rem;
        padding: 0;
    }

    footer ul:nth-child(3){
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    footer hr{ margin: 1rem 0 0 0; }
    footer .copy{ flex-direction: column-reverse; }

    footer .copy ul{
        gap: 1rem;
        margin-bottom: 1rem;
    }
}






